Hi {{ contact_first_name }},

{% if detail3 %}{{ detail3 }}{% else %}I don't want to keep cluttering your inbox, so this'll be my last note.{% endif %}

If taking the repetitive work off {{ business_name }}'s plate is something you'd like to explore down the road, just reply "later" and I'll check back at a better time. Otherwise I'll close the loop here and wish you and the {% if city %}{{ city }} {% endif %}team all the best.

Thanks for reading either way.

Best,
{{ sender_name }}
{{ sender_company }}
